.auth-page {
  width     : 100%;
  min-height: 100vh;
  background: #fdfdfd;
  position  : relative;
}

.auth-page form {
  background: #fff;
  max-width : 400px;
  width     : 100%;
  padding   : 50px 25px;
  position  : absolute;
  border    : 1px solid #ddd;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%)
}

.auth-page form .pass {
  position: relative;
}

.auth-page form .pass small {
  position : absolute;
  top      : 50%;
  right    : 5px;
  transform: translateY(-50%);
  cursor   : pointer;
  opacity  : 0.5
}
