/* ------ Info ---------- */
.info {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px 10px;
}

.info-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-content {
  min-width: 250px;
  max-width: 550px;
  width: 100%;
  flex: 1;
  opacity: 0.7;
  margin: 0 15px;
}

.info-content-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.info-content-title h2 {
  font-size: 2rem;
  font-weight: 400;
  transform: translateY(4px);
  flex: 3;
}

.info-content-title button {
  flex: 2;
}

.info-container .follow-btn {
  color: teal;
  cursor: pointer;
}

.info-container .follow-btn span:hover {
  text-decoration: underline;
}


/* ------ Profile Edit---------- */
.edit-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0008;
  z-index: 9;
  overflow: auto;
}

.edit-profile form {
  max-width: 450px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
}

.edit-profile .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.edit-profile .info-avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin: 15px auto;
  border: 1px solid #ddd;
  cursor: pointer;
}

.edit-profile .info-avatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.edit-profile .info-avatar span {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  text-align: center;
  color: orange;
  transition: 0.3s ease-in-out;
  background: #fff5;
}

.edit-profile .info-avatar:hover span {
  bottom: -15%;
}

.edit-profile .info-avatar #file-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

/* ------ Follow ---------- */
.follow {
  position: fixed;
  top:0;
  left: 0;
  background: #0008;
  width: 100%;
  height: 100vh;
  z-index: 4;
}
.follow-box {
  width: 350px;
  border: 1px solid #222;
  border-radius: 5px;
  background: white;
  padding: 20px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.follow-content {
  width: 100%;
  height: 350px;
  overflow: auto;
}
.follow-box .close {
  position: absolute;
  top: 0;
  right: 3px;
  font-size: 3rem;
  cursor: pointer;
}