/* ------ Info ---------- */
.info {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px 10px;
}

.info-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-content {
  min-width: 250px;
  max-width: 550px;
  width: 100%;
  flex: 1;
  opacity: 0.7;
  margin: 0 15px;
}

.info-content-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.info-content-title h2 {
  font-size: 2rem;
  font-weight: 400;
  transform: translateY(4px);
  flex: 3;
}

.info-content-title button {
  flex: 2;
}

.info-container .follow-btn {
  color: teal;
  cursor: pointer;
}

.info-container .follow-btn span:hover {
  text-decoration: underline;
}
